<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
         <h1>{{xodim.name}}</h1>
            <p>Id :{{xodim.id}} </p>
            <p>Yoshi:{{xodim.age}}</p>
            <p>Lavozimi:{{xodim.position}} at {{xodim.department}}</p>
            <p>Maoshi:{{xodim.salary}}</p>
            <p>Shahri:{{xodim.city}}</p>
            <p>Ishga kirgan sana :{{xodim.join_date}}</p>

            <br>
            {% csrf_token %}
        <h1>Rostdan ham ochirasizmi</h1>
        <button type="submit">Ha</button>
        <a href="{% url 'index' %}">Bekor qilish</a>
    </form>
</body>
</html>